* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  text-align: center;
  color: black;
  background-color: #f4f4f8;
  font-family: "Proza Libre", sans-serif;
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 1.6rem;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

p {
  font-family: "Open Sans", sans-serif;
  text-transform: none;
}

h3 {
  margin-top: 0.5rem;
  text-transform: capitalize;
}

.h2-font {
  color: firebrick;
}

/* Navigation */

.main-nav {
  padding: 2rem 0;
}

.main-nav li {
  background-color: #e6e6ea;
  margin: 1rem 0;
  padding: 1rem;
  list-style: none;
}

/* Header */

#intro img {
  width: 80%;
  height: auto;
}

#intro p {
  width: 80%;
  margin: 2rem auto;
}

/* Section ID */

#main-section {
  padding: 4rem 2rem;
  margin-bottom: 4rem;
  background: rgb(233, 232, 232);
}

.contact {
  padding: 4rem 0;
  border-top: solid 0.4rem;
  border-bottom: solid 0.4rem;
}

.contact p {
  margin-top: 2rem;
}

/* Utility Class*/

.container {
  width: 90%;
  margin: 0 auto;
}

.col {
  margin-top: 4rem;
}

.col img {
  width: 100%;
  height: auto;
}

.skills {
  width: 40%;
  margin: 4rem auto;
}

/* Footer */

#main-footer {
  overflow: auto;
  padding: 2rem 0;
}

.foot-nav li {
  list-style: none;
  float: right;
}

.foot-nav li:nth-child(-n + 4) {
  display: none;
}

.foot-nav h4 {
  float: left;
}

@media (min-width: 768px) {
  /* Navigation 768px tablet  */

  .main-nav li {
    background: none;
    display: inline-block;
    text-align: center;
    padding: 2rem;
    margin: 0;
  }

  /* Header 768px tablet */

  #intro {
    overflow: auto;
    margin-bottom: 5rem;
  }

  #intro img {
    width: 40%;
    height: auto;
    float: right;
  }

  #intro p {
    width: 60%;
    float: left;
    margin: 0;
    text-align: left;
    padding-right: 1rem;
  }

  /* Section 768px tablet */

  #main-section {
    overflow: auto;
  }

  #main-section p {
    padding: 0 3rem;
  }

  #main-section h2 {
    margin-bottom: 4rem;
  }

  #intro p {
    font-size: 2rem;
    padding-right: 2rem;
  }

  .col {
    width: 49%;
    min-height: 40rem;
    margin-top: 3rem;
    float: left;
    padding-left: 1rem;
  }

  #skills-section {
    overflow: auto;
    padding: 0 2rem;
  }

  .skills {
    width: 31%;
    float: left;
    padding-left: 8rem;
  }

  .contact {
    padding: 4rem 3rem;
  }

  .foot-nav ul {
    float: right;
  }

  .foot-nav li {
    margin-left: 2rem;
    float: left;
  }

  .foot-nav li:nth-child(-n + 4) {
    display: inline-block;
  }

  .foot-nav li:last-child {
    display: none;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
  }

  .main-nav {
    overflow: auto;
    padding: 3rem 0;
  }

  .main-nav h1 {
    font-size: 3.5rem;
    float: left;
    padding-top: 1.5rem;
  }

  .main-nav ul {
    float: right;
  }

  .main-nav li {
    padding: 3rem 0 0 2rem;
  }

  .main-nav li a,
  .foot-nav li a {
    border-bottom: 0.4rem solid transparent;
  }

  .main-nav li a:hover,
  .foot-nav li a:hover,
  .details:hover {
    border-bottom: 0.4rem solid;
    color: firebrick;
  }

  .main-nav li a:focus,
  .foot-nav li a:focus,
  .details:focus {
    color: #ffacac;
  }

  #main-section h2 {
    margin-bottom: 0;
  }

  .col {
    width: 33%;
    margin-top: 4rem;
    float: left;
    padding-left: 1.5rem;
  }

  .skills {
    width: 29%;
    float: left;
    padding-left: 16rem;
  }
}
