/* Base */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  text-align: center;
  color: black;
  background-color: #f4f4f8;
  font-family: "Proza Libre", sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

p {
  font-family: "Open Sans", sans-serif;
  text-transform: none;
}

/* Typography */

.heading__two {
  color: firebrick;
  text-transform: uppercase;
}

.heading__three {
  text-transform: capitalize;
}

/* Utility Class*/
.container {
  padding: 2rem;
}

/* Navigation */
.nav {
  padding-top: 2rem;
}
.nav__list {
  padding: 2rem 0;
}

.nav__items {
  background-color: #e6e6ea;
  margin: 1rem 0;
  padding: 1rem;
  list-style: none;
  text-transform: uppercase;
  transition: 0.2s;
}

.nav__items:hover {
  background-color: firebrick;
}

.nav__item-link:hover {
  color: #fff;
}

/* Header */
.header__img {
  width: 80%;
  height: auto;
}

.header__context {
  width: 80%;
  margin: 2rem auto;
}

/* Portfolio Section */
.portfolio {
  padding: 4rem 2rem;
  background: #e6e6ea;
}

.portfolio__item:not(:first-child) {
  margin-top: 4rem;
}

.portfolio__img {
  width: 100%;
  height: auto;
}

/* Skills Section */
.skills {
  overflow: hidden;
  padding: 2rem 0;
}

.skills__img {
  width: 100%;
}

.skills__items {
  float: left;
  margin-top: 2rem;
}

.skills__item-right {
  float: right;
}

/* Contact Section */
.contact {
  padding: 2rem 0;
  border-top: solid 0.4rem;
  border-bottom: solid 0.4rem;
}

.contact p {
  margin-top: 2rem;
}

/* Footer */
.footer {
  overflow: auto;
  padding: 2rem 0;
}

.footerNav__item {
  list-style: none;
  float: right;
}

.footerNav__item:nth-child(-n + 4) {
  display: none;
}

.footerNav h4 {
  float: left;
}

/* Tablet  */
@media (min-width: 768px) {
  /* Navigation 768px tablet  */
  .nav__items {
    background: none;
    display: inline-block;
    text-align: center;
    padding: 2rem;
    margin: 0;
  }

  .header {
    overflow: auto;
    margin-bottom: 2rem;
  }

  .header__img {
    width: 40%;
    float: right;
  }

  .header__context {
    width: 60%;
    float: left;
    margin: 0;
    text-align: left;
    padding-right: 2rem;
  }

  .portfolio {
    overflow: auto;
  }

  .portfolio__item {
    width: 49%;
    float: left;
  }

  .portfolio__item-right {
    float: right;
  }

  .portfolio p {
    padding: 0 2rem;
  }

  /* Skills Section 768px tablet */
  .skills {
    overflow: auto;
    padding: 3rem 0;
  }

  .skills__items {
    width: 50%;
    float: left;
  }

  /* Contact Section 768px tablet */
  .contact {
    padding: 3rem;
  }

  /* Footer 768px tablet */
  .footerNav__list {
    float: right;
  }

  .footerNav__item {
    margin-left: 2rem;
    float: left;
  }

  .footerNav__item:nth-child(-n + 4) {
    display: inline-block;
  }

  .footerNav__item:last-child {
    display: none;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
  }

  .nav {
    overflow: auto;
    padding: 3rem 0;
  }

  .nav__list {
    float: right;
  }
  .heading__one {
    margin-top: 1rem;
    font-size: 3rem;
    float: left;
  }

  .nav__items {
    padding: 0 1rem;
  }

  .nav__items:hover {
    background-color: transparent;
  }
  .nav__item-link,
  .footerNav__item-link,
  .contact__details {
    border-bottom: 0.4rem solid transparent;
  }

  .nav__item-link:hover,
  .footerNav__item-link:hover,
  .contact__details:hover {
    border-bottom: 0.4rem solid;
    color: firebrick;
  }

  /* .portfolio__item {
    width: 33%;
  } */
}
